body {
    background-image: url("/img/retro-tile-background.jpg");
    background-color: #cccccc;
    min-width: 1200px;
    margin: auto;
    max-width: 80vw;
    max-height: 80vh;
}

navbar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 130px;
    background-image: url("/img/black-space-with-lot-stars-2469662.jpg");
}

img#navimg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 200px;
    height: 150px;
}

div.Home {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align:center;
    margin-top: 50px;
    font-size: 50px;
}

div.Score {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

div.About {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

main {
    display:grid;
    grid-template-columns: 300px 1500px 300px;
    grid-template-rows: 200px 250px 250px 250px 200px;
    text-align: center;
    min-width: 2100px;
    resize: both;
}

canvas#snake, canvas#menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:  4;
    position:relative;
    left: 435px;
    bottom: -48px;
    z-index: -1;
}

#cabinetimage {
    position: relative;
    left: 440px;
    resize: both;
}

#cabinetBackground {
    background-color: black;
    height: 900px;
    width: 700px;
    position: relative;
    left: 400px;
    top: 400px;
    z-index: -1;
}

footer {
    font-size: 40px;
    color: white;
    position: relative;
    top: 750px;
    left: 840px;
}
