footer {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 450px;
    border-style: solid;
    text-align: center;
    margin-left: 10px;
   
}

h1 {
    display: grid;
    grid-template-columns: auto;
    border-style: solid;

    background-color: aquamarine;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    border-style: solid;
}

div#score {
    grid-column-start: 5;
    grid-column-end: 7;
}

div#initials {
    grid-column-start: 2;

}

li {
    font-size: 40px;
    margin: 10px;
}