
footer {
    text-align: center;
    font-size: 30px;
}

section {
    width: 2100px;
    display: grid;
    grid-template-columns: 200px 300px 400px 300px 400px 300px 200px;
    grid-template-rows: 450px;
    border-style:outset;
    border-color: #ccff15;
    border-width: 10px;
    text-align: center;
    margin-left: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
    color:#ccff15;
    background-color: rgba(0,0,0, 0.8);
   
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
    color:#ccff15;
    text-align: center;
    font-size: 50px;

    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 5px 15px yellow;
    }
}

h2 {
    font-size: 50px;
    border-style: solid;
    animation: glow2 1.5s infinite alternate;
}

@keyframes glow2 {
    to {
        text-shadow: 0 5px 15px yellow;
    }
}

#initialsBox {
    position: relative;
    left: 15px;
}

div#score {
    grid-column-start: 5;
    grid-column-end: 7;
}
#score-ol {
    list-style: none; 
    position: relative;
    right: 22px;
}
div#initials {
    grid-column-start: 2;

}

li {
    font-size: 40px;
    margin: 10px;
}
body {
    background-image: url("/img/Collage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1900px;
}

footer {
    color: white;
    position: relative;
    left: 1100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
}
section {
    position: relative;
    left: 250px;
    width: 70vw;
}
main {
    width: 70vw;
}

#highScore {
    position: relative;
    left: 280px;
}

