
footer {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 200px 300px 400px 300px 400px 300px 200px;
    grid-template-rows: 450px;
    border-style:outset;
    border-color: #ccff15;
    border-width: 10px;
    text-align: center;
    margin-left: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
    color:#ccff15;

   
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
    color:#ccff15;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    border-style: solid;
}

div#score {
    grid-column-start: 5;
    grid-column-end: 7;
}

div#initials {
    grid-column-start: 2;

}

li {
    font-size: 40px;
    margin: 10px;
}
body {
    background-image: url("/img/Collage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

footer {
    color: white;
}